header {
    color: black;
    text-align: center;
    background-color: rosybrown;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-size: x-large;
}

nav {
    background-color: black;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 1rem 10px;
    padding: 0;
    font-size: x-large;
    background-color: black;
}

nav li {
    float: left;
    display: inline;
    margin: 0 20px;
}

nav li a {
   text-decoration: none;
   color: black;
}
 body {
    background-color: wheat;
    background-size: 100% 100%;
 }

 .section-content{
    background-color: white;
    margin: 5rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
 }

 .download-button {
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
 }